body {
  background-color: #f4f7fb;
  opacity: 0.8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("../images/DNA2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 85vh;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  margin: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 550px;
  animation: slideIn 1s ease-out;
}

/* Animation for form sliding in */
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

legend {
  font-size: 2rem;
  font-weight: bold;
  color: #8F87F1;
  text-align: center;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #8F87F1;
  border-color: #8F87F1;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #C68EFD;
  border-color: #C68EFD;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #EF9651;
  padding: 12px;
  font-size: 1.1rem;
}

.form-control:focus {
  border-color: #EF9651;
  box-shadow: 0 0 0 0.25rem #EF9651;
}

.form-group {
  margin-bottom: 1.5rem;
}

